
#footer{
    width: 100%;
    height: auto;
    word-wrap: break-word;
    background-color: #e6e6e6;
    color: #00a3da;
    text-align: center;
    font-size: 1.5rem;
    bottom: 0;
    position: fixed;
  }
  
  .footerDetails{
    height: 3.5rem;
  }
  