#heroContactPic {
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    box-shadow: 0 0 10px black;
    border-radius: 2px;
  }
  
  .heroSection {
    color: white;
    height: 37%;
  }
  
  #heroText2 {
    font-size: 6rem;
    text-align: center;
    text-shadow: 0 0 10px black;
  }
  
  #heroTitle {
    font-size: 0.5em;
    margin-top: -1rem;
    margin-bottom: -5rem;
  }
  